*{
    margin:auto;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

header {
    width: 25vw;
    height: 100%;
    text-align: center;
    display: grid;
    transform: translate(-50%);
    background: #24252a;
  }
  
  .logo {
    cursor: pointer;
   
  }
  
  .nav__links {
    list-style: none;
    display: grid;
    
  }
  
  .nav__links a,
  .overlay__content a {
    font-size: 1.2rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
    
  }
  
  .nav__links li {
    margin: 20px;
    padding: 0px 20px;
  }
  
  .nav__links li a {
    transition: all 0.3s ease 0s;
  }
  
  .nav__links li a:hover {
    color: #0088a9;
  }
  

.container {
    width: 60%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

input[type="text"],
input[type="email"] {
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 10px;
    font-size: 16px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #218838;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    text-align: center;
    background-color: #f8f8f8;

}
td {
    text-align: center;
    font-size: 14px;
}